<div class="text-center mt-3">
  <h1>About</h1>
  <h4>Sampleは全国発送可能なケーキ屋さんです。<br>お子様からお年寄りの方までお召し上がりいただけるよう、様々なバリエーションを用意しております。
  <br>また、全国に発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
  ぜひご注文ください。</h4>

  <div class="mt-5">
    <%= image_tag "about-1", size: "550x300" %>
  </div>
</div>